.control-panel {
  position: fixed;
  width: 100%;
  height: 30%;
  bottom: 0;
}

.form-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  width: 120px;
}

.add-button {
  line-height: 75px;
}
